PORT=
DATABASE_URL=""
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""
JWT_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
App_ID=""
Client_ID=""
Client_Secret=""
Signing_Secret=""
Verification_Token=""
SLACK_WEBHOOK_URL=""
GROQ_API_KEY=""